git/.gitconfig.local.symlink


#sublime
.config/sublime-text-3/Local.symlinkfollow/Auto Save Session.sublime_session
.config/sublime-text-3/Local.symlinkfollow/Session.sublime_session
.config/sublime-text-3/Packages.symlinkfollow/User/Package Control.cache
.config/sublime-text-3/Packages.symlinkfollow/User/Package Control.last-run
.config/sublime-text-3/Installed\ Packages.symlinkfollow/0_package_control_loader.sublime-package-ne
.config/sublime-text-3/Installed\ Packages.symlinkfollow/0_package_control_loader.sublime-package
.config/sublime-text-3/Packages.symlinkfollow/User/Projects/